
.progress-bar-wrapper {
	+.progress-bar-wrapper {
		margin-top: 5px;
	}

	>p {
		margin: 0;
		font-weight: 600;
	}

	.progress-bar {
		display: flex;
		align-items: center;

		>progress {
			flex-basis: calc(100% - 40px);
			max-width: calc(100% - 40px);
		}

		>div:last-child {
			width: 40px;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			font-size: 12px;
		}
	}
}

// Colors
.progress-bar-wrapper {
	progress {
		 /* Basic Styling */
		 -webkit-appearance: none;
		 -moz-appearance: none;
		 appearance: none;
		
		 height: 10px;
		
		  /* Firefox */
		 border: none;
		 border-radius: 5px;
	}
	progress::-webkit-progress-bar {
		 border-radius: 5px;
	}
	progress::-webkit-progress-value {
		 border-radius: 5px;
	}
	progress::-moz-progress-bar {
		 border-radius: 5px;
	}
}

.progress-bar-color-scheme-0 {
	--color-scheme-0: #369;
	progress {
		 background-color: color-mix(in srgb, #fff 75%, var(--color-scheme-0));
	}
	progress::-moz-progress-bar {
		  background-color:  var(--color-scheme-0);
	}
	progress::-webkit-progress-bar {
		 background-color: color-mix(in srgb, #fff 75%,  var(--color-scheme-0));
	}
	progress::-webkit-progress-value {
		  background-color:  var(--color-scheme-0);
	}
}	

.progress-bar-color-scheme-1 {
	--color-scheme-1: rgba(204, 0, 0, 1);
	progress {
		 background-color: color-mix(in srgb, #fff 75%, var(--color-scheme-1));
	}
	progress::-moz-progress-bar {
		  background-color:  var(--color-scheme-1);
	}
	progress::-webkit-progress-bar {
		 background-color: color-mix(in srgb, #fff 75%,  var(--color-scheme-1));
	}
	progress::-webkit-progress-value {
		  background-color:  var(--color-scheme-1);
	}
}

.progress-bar-color-scheme-2 {
	--color-scheme-3: rgba(0, 151, 153, 1);
	progress {
		 background-color: color-mix(in srgb, #fff 75%, var(--color-scheme-3));
	}
	progress::-moz-progress-bar {
		  background-color:  var(--color-scheme-3);
	}
	progress::-webkit-progress-bar {
		 background-color: color-mix(in srgb, #fff 75%,  var(--color-scheme-3));
	}
	progress::-webkit-progress-value {
		  background-color:  var(--color-scheme-3);
	}
}

.progress-bar-color-scheme-3 {
	--color-scheme-3: rgba(0, 153, 0, 1);
	progress {
		 background-color: color-mix(in srgb, #fff 75%, var(--color-scheme-3));
	}
	progress::-moz-progress-bar {
		  background-color:  var(--color-scheme-3);
	}
	progress::-webkit-progress-bar {
		 background-color: color-mix(in srgb, #fff 75%,  var(--color-scheme-3));
	}
	progress::-webkit-progress-value {
		  background-color:  var(--color-scheme-3);
	}
}

.progress-bar-color-scheme-4 {
	--color-scheme-4: #c63;
	progress {
		 background-color: color-mix(in srgb, #fff 75%, var(--color-scheme-4));
	}
	progress::-moz-progress-bar {
		  background-color:  var(--color-scheme-4);
	}
	progress::-webkit-progress-bar {
		 background-color: color-mix(in srgb, #fff 75%,  var(--color-scheme-4));
	}
	progress::-webkit-progress-value {
		  background-color:  var(--color-scheme-4);
	}
}

.progress-bar-color-scheme-5 {
	--color-scheme-5: #f90;
	progress {
		 background-color: color-mix(in srgb, #fff 75%, var(--color-scheme-5));
	}
	progress::-moz-progress-bar {
		  background-color:  var(--color-scheme-5);
	}
	progress::-webkit-progress-bar {
		 background-color: color-mix(in srgb, #fff 75%,  var(--color-scheme-5));
	}
	progress::-webkit-progress-value {
		  background-color:  var(--color-scheme-5);
	}
}

.progress-bar-color-scheme-6 {
	--color-scheme-6: #f60;
	progress {
		 background-color: color-mix(in srgb, #fff 75%, var(--color-scheme-6));
	}
	progress::-moz-progress-bar {
		  background-color:  var(--color-scheme-6);
	}
	progress::-webkit-progress-bar {
		 background-color: color-mix(in srgb, #fff 75%,  var(--color-scheme-6));
	}
	progress::-webkit-progress-value {
		  background-color:  var(--color-scheme-6);
	}
}

.progress-bar-color-scheme-7 {
	--color-scheme-7: #c0f;
	progress {
		 background-color: color-mix(in srgb, #fff 75%, var(--color-scheme-7));
	}
	progress::-moz-progress-bar {
		  background-color:  var(--color-scheme-7);
	}
	progress::-webkit-progress-bar {
		 background-color: color-mix(in srgb, #fff 75%,  var(--color-scheme-7));
	}
	progress::-webkit-progress-value {
		  background-color:  var(--color-scheme-7);
	}
}

.progress-bar-color-scheme-8 {
	--color-scheme-8: #f0c;
	progress {
		 background-color: color-mix(in srgb, #fff 75%, var(--color-scheme-8));
	}
	progress::-moz-progress-bar {
		  background-color:  var(--color-scheme-8);
	}
	progress::-webkit-progress-bar {
		 background-color: color-mix(in srgb, #fff 75%,  var(--color-scheme-8));
	}
	progress::-webkit-progress-value {
		  background-color:  var(--color-scheme-8);
	}
}

.progress-bar-color-scheme-9 {
	--color-scheme-9: #333;;
	progress {
		 background-color: color-mix(in srgb, #fff 75%, var(--color-scheme-9));
	}
	progress::-moz-progress-bar {
		  background-color:  var(--color-scheme-9);
	}
	progress::-webkit-progress-bar {
		 background-color: color-mix(in srgb, #fff 75%,  var(--color-scheme-9));
	}
	progress::-webkit-progress-value {
		  background-color:  var(--color-scheme-9);
	}
}