// Progress BBCode by www.cls-design.com

.progress-bar-wrapper {
	--progress-bar-height: 15px;
	--progress-bar-radius: 10px;
	--progress-bar-radius-small: 5px;

	.progress-bar {
		display: flex;
		align-items: center;

		>div:first-child {
			flex-basis: calc(100% - 50px);
			max-width: calc(100% - 50px);
			height: var(--progress-bar-height);
			border-radius: var(--progress-bar-radius);
			overflow: hidden;

			>div {
				height: var(--progress-bar-height);
				border-radius:
					var(--progress-bar-radius) var(--progress-bar-radius-small) var(--progress-bar-radius-small) var(--progress-bar-radius);
			}
		}

		>div:last-child {
			width: 50px;
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
	}
}

// Colors

html[data-color-scheme="light"] {
	.progress-bar>div>div {
		box-shadow: 0 0 25px 0 rgba(255, 255, 255, 0.3);
	}

	.progress-bar-color-scheme-0 {
		background-color: #9bc4ff;

		>div {
			background-color: #1B6FFC;
		}
	}

	.progress-bar-color-scheme-1 {
		background-color: #80D6E1;

		>div {
			background-color: #1B8FA0;
		}
	}

	.progress-bar-color-scheme-2 {
		background-color: #73DEAF;

		>div {
			background-color: #1F9660;
		}
	}

	.progress-bar-color-scheme-3 {
		background-color: #AADA67;

		>div {
			background-color: #5F8F20;
		}
	}

	.progress-bar-color-scheme-4 {
		background-color: #F3C63E;

		>div {
			background-color: #AA7B00;
		}
	}

	.progress-bar-color-scheme-5 {
		background-color: #FEBD70;

		>div {
			background-color: #D4650A;
		}
	}

	.progress-bar-color-scheme-6 {
		background-color: #ff9a8e;

		>div {
			background-color: #DF402F;
		}
	}

	.progress-bar-color-scheme-7 {
		background-color: #F68CCC;

		>div {
			background-color: #C54792;
		}
	}

	.progress-bar-color-scheme-8 {
		background-color: #AFA2F5;

		>div {
			background-color: #7765D6;
		}
	}

	.progress-bar-color-scheme-9 {
		background-color: #b7b7b7;

		>div {
			background-color: #595959;
		}
	}
}

html[data-color-scheme="dark"] {
	.progress-bar>div>div {
		box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
	}

	.progress-bar-color-scheme-0 {
		background-color: #1B6FFC;

		>div {
			background-color: #9bc4ff;
		}
	}

	.progress-bar-color-scheme-1 {
		background-color: #1B8FA0;

		>div {
			background-color: #80D6E1;
		}
	}

	.progress-bar-color-scheme-2 {
		background-color: #1F9660;

		>div {
			background-color: #73DEAF;
		}
	}

	.progress-bar-color-scheme-3 {
		background-color: #5F8F20;

		>div {
			background-color: #AADA67;
		}
	}

	.progress-bar-color-scheme-4 {
		background-color: #AA7B00;

		>div {
			background-color: #F3C63E;
		}
	}

	.progress-bar-color-scheme-5 {
		background-color: #D4650A;

		>div {
			background-color: #FEBD70;
		}
	}

	.progress-bar-color-scheme-6 {
		background-color: #DF402F;

		>div {
			background-color: #ff9a8e;
		}
	}

	.progress-bar-color-scheme-7 {
		background-color: #C54792;

		>div {
			background-color: #F68CCC;
		}
	}

	.progress-bar-color-scheme-8 {
		background-color: #7765D6;

		>div {
			background-color: #AFA2F5;
		}
	}

	.progress-bar-color-scheme-9 {
		background-color: #595959;

		>div {
			background-color: #b7b7b7;
		}
	}
}